

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;    
    margin: 0;
}
.heroPart {
    margin: 20px 5%;
}
.heroPartContant {
    display: flex;   
    justify-content: space-between;
}
.heroPartContant img {
    width: 40%;    
}
.hero-img {
    text-align: center;
}
.mission-color {
    color: #FFAD5A;
}
.left-border {
    border-left: 2px solid #FF5959;
    padding: 0 5px;
}
.click-button a {
    background-color: #FF5959;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.click-button {
    margin-top: 30px;
}
.content-width {
    width: 50%;
}
/* my section css part start */
.mission-content {
    display: flex;   
}
.mission-part {
    margin: 20px 5%;
}
.mission-part h1 {
    text-align: center;
    margin-bottom: 40px;
}
.myMission {
    margin: 10px 20px;
    padding: 0 20px;    
}
.mission {
    background-color:#EDF5F6 ;
    border-radius: 20px;
}
.vission {
    background-color:#FFEEEE ;
    border-radius: 20px;
}
.goal {
    background-color:#FFF4D6 ;
    border-radius: 20px;
}
.myMission img {
    width: 200px;
    height: 200px;
}
/* my section css part end */

/* develop css part Start */
.develop-part {
    margin: 0 5%;
    padding: 20px 0;        
}
.develop-content {
    display: flex;
}
.dev-img {
    width: 40%;
}
.dev-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.dev-content {    
    width: 60%;
   padding: 50px 0 100px 30px;
}
/* develop css part End */

/* footer part start */
.footer-part {
    background: #0B0D17;
    color:#fff;
    padding: 30px 0;
    text-align: center;
}

.footer-part h1 {
    font-style: italic;
    
}
.footer-style {
    color: #FF5959;
    font-style: italic;
}

/* footer part start */